body {
  background: linear-gradient(327deg, #464a50 0%, #142c4b 100%);
  background-attachment: fixed;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
}

.container {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container h1 {
  font-size: 4em;
}
.container h1 span {
  color: #db7f33;
}
.container p {
  width: 80%;
  font-size: 1.25em;
  font-weight: bold;
}
.container button {
  margin-top: 2em;
  width: 12em;
  height: 2em;
  font-size: 2em;
  border-radius: 0.5em;
  border-style: none;
  background: #3BA55D;
  color: #fff;
}
